.comment{ :"data-id" => comment.id }
  %p
    = comment.author.email
    == commented #{time_ago_in_words(comment.created_at)}
  %p= simple_format(comment.body)
  %p
    - if comment.created_at != comment.updated_at
      == updated at #{time_ago_in_words(comment.updated_at)}
    - if current_user && (current_user.admin? || comment.author == current_user)
      = link_to 'Edit', edit_comment_url(comment)
      = link_to 'Delete', comment_url(comment), :method => :delete, :confirm => 'Do you want to delete this comment?'
      