- title @article.title
= render @article, :no_title => true
%div
  = link_to 'Back to articles', articles_path
  |
  = link_to "Edit", edit_article_path(@article)
  |
  = link_to "Destroy", article_path(@article), :method => :delete, :confirm => 'Do you want to destroy this article'
#comments-section
  %a{:name => 'comments'}

  .post-comment-form
    - if user_signed_in?
      = render :partial => 'comments/form', :locals => { :article => @article, :comment => Comment.new }
    - else
      %p
        = link_to 'Sign in', new_user_session_path(:next => request.request_uri)
        to post comment
        
  .comments
    = render @article.comments
